<mat-nav-list>
    <a mat-list-item routerLink="" (click)="onClose()"><span class="mdi mdi-airplane-takeoff "></span> 
        <span class="navigation-caption"> {{'navbar.nav1' | translate}} </span></a>
    <a mat-list-item routerLink="/car-insurance" (click)="onClose()"><span class="mdi mdi-car "></span> 
        <span class="navigation-caption"> {{'navbar.nav2' | translate}}</span></a>
    <a mat-list-item routerLink="/medical-insurance" (click)="onClose()"><span class="mdi mdi-medical-bag "></span> 
        <span  class="navigation-caption">{{'navbar.nav3' | translate}}</span></a>
    <a mat-list-item routerLink="/personal-accident" (click)="onClose()"><span class="mdi mdi-wheelchair-accessibility "></span>
         <span  class="navigation-caption">
            {{'navbar.nav4' | translate}} </span></a>
</mat-nav-list>