<div class="container">
    <div class="fill-margin-top"> </div>
    <h2 lang="tr-TR" class="western" style="margin-top: 0in">
        <span style="text-transform: uppercase"><font face="Calibri, serif"><font size="2" style="font-size: 11pt"><span lang="en-US"><span style="font-style: normal">TRAVEL
        ASSISTANCE SERVICES ABROAD</span></span>
        </font>
        </font>
        </span>
    </h2>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Company will
        provide these Benefits only when the Insured is traveling outside the
        Usual Country of Residence up to a maximum of </span></font>
        <font face="Calibri, serif"><span lang="en-US"><b>90</b></span></font>
        <font face="Calibri, serif"><span lang="en-US">
        consecutive days.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font face="Calibri, serif">
            <font size="2" style="font-size: 11pt"><span lang="en-US"><b>PERSONAL
        ASSISTANCE </b></span></font>
        </font>
    </p>
    <ol>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Medical expenses
            and hospitalization abroad.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">In the event of
        illness or injury of the insured occurring outside the Usual Country
        of Residence, The Company will meet the usual customary, necessary
        and reasonable costs of hospitalization, surgery, medical fees and
        pharmaceutical products, prescribed by the attending doctor</span></font>
        <font face="Calibri, serif">
            <font size="3" style="font-size: 12pt"><span lang="en-US">.</span></font>
        </font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Company’s
        medical team will maintain the telephone contacts necessary with the
        centre and with the doctors attending to the Insured to supervise the
        provision of proper health care.</span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The company will cover
        the cost of primary assistance for the first 24 hours following the
        heath incident/ accident. (The company will continue to cover medical
        assistance only if the medical report approved by our medical
        regulation confirms that the condition was not pre-existing disease.)</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0.17in">
        <font face="Calibri, serif"><span lang="en-US">This cover is subject
        to a limit of 50 000 USD ( Fifty thousand US$). </span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0.17in">
        <font face="Calibri, serif"><span lang="en-US"><b>Excess “excess is
        applicable per claim. “</b></span></font>
    </p>
    <div style="text-align: center;">
        <table width="528" cellpadding="7" cellspacing="0">
            <col width="94">
            <col width="94">
            <col width="88">
            <col width="88">
            <col width="93">
            <tr valign="top">
                <td width="94" height="7" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US"><b>From
                        30 years To 65 years old </b></span></font>
                    </p>
                </td>
                <td width="94" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US"><b>From
                        65 years To 70 years old</b></span></font>
                    </p>
                </td>
                <td width="88" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US"><b>From
                        70 years To 75 years old</b></span></font>
                    </p>
                </td>
                <td width="88" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US"><b>From
                        75 years To 80 years old</b></span></font>
                    </p>
                </td>
                <td width="93" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US"><b>From
                        80 years To 85 years old</b></span></font>
                    </p>
                </td>
            </tr>
            <tr valign="top">
                <td width="94" height="4" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US">50
                        USD </span></font>
                    </p>
                </td>
                <td width="94" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US">100
                        USD </span></font>
                    </p>
                </td>
                <td width="88" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US">250
                        USD</span></font>
                    </p>
                </td>
                <td width="88" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US">500
                        USD </span></font>
                    </p>
                </td>
                <td width="93" style="border: 1px solid #000000; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p lang="tr-TR" class="western" align="justify">
                        <font face="Calibri, serif"><span lang="en-US">1,500
                        USD</span></font>
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <p class="western" align="justify" style="margin-left: 0.5in; margin-bottom: 0in">
        <br/>

    </p>
    <ol start="2">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Transport or
            repatriation in the event of illness or accident sustained by the
            Insured during the course of a trip.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">In the event of an
        accident or sudden illness, the Company will take charge of
        transferring or repatriating the Insured to a properly equipped
        health centre or to his/her usual country of residence.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Company, through
        its medical team, will decide which health centre the Insured is
        transferred to or whether repatriation is necessary, depending on the
        situation or gravity of the state the latter is in.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">Afterwards, the
        Company’s medical team will maintain the telephone contacts
        necessary with the medical centre and with the doctors attending to
        the Insured, and on the basis thereof will decide whether to transfer
        or repatriate the Insured, and on the most suitable means of
        transport to use.</span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">For minor or less
        serious illnesses or accidents, which in the opinion of the medical
        team do not require repatriation, transfer will be performed in
        ambulance or another means of transport, to the place where adequate
        medical assistance can be provided.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="3">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Emergency Dental
            Care.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">If necessary, the
        Company will provide the Insured party with the dental assistance
        required abroad. </span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">This cover is subject
        to a limit of 500 USD(five hundred US$). 50 USD (fifty US$)excess is
        applicable per claim.</span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">This coverage is
        restricted to the treatment of pain, infection and removal of the
        tooth affected.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="4">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Repatriation of
            the immediate family member traveling with the Insured.</b></span></font>
        </p>
    </ol>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">Should the Insured be
        hospitalized due to sudden illness or accident for more than ten days
        or deceased, the Company will meet the cost in respect of one
        immediate family member accompanying the Insured at the moment of the
        event, having the same country of residence as the Insured,
        considering this immediate family member is unable to travel by
        his/her own means of transport or the means of transport used for the
        initial trip.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="5">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Repatriation of
            mortal remains.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">In the event of the
        death of the Insured, the Company will make the arrangements
        necessary for his/her transport or repatriation and will meet the
        cost of the transfer expenses to the place of interment, cremation or
        funeral ceremony at his/her usual country of residence.</span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">Payment of expenses
        for interment, cremation or funeral ceremony is excluded from this
        guarantee.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="6">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Travel of one
            immediate family member.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">In the event that the
        Insured should be admitted to hospital for more than ten days as a
        result of an accident or illness covered in the policy, the Company
        will take charge of the transfer of a immediate family member from
        the usual</span></font>
        <font face="Calibri, serif">
            <font size="3" style="font-size: 12pt"><span lang="en-US">
        </span></font>
        </font>
        <font face="Calibri, serif"><span lang="en-US">country
        of residence of the Insured, at the latter’s choice, including
        meeting the cost of the outbound and return journey to the place of
        hospitalization and the accommodation expenses there, up to a limit
        of 100 USD per day for a maximum of 10 days.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="7">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Emergency return
            home following death of a close family member.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.39in; text-indent: -0.39in; margin-bottom: 0in">
        <br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">When the Insured has
        to curtail his/her journey because of the death of a close family
        member (up to second grade), the Company will meet the cost of the
        travel to his/her usual country of residence, whenever he/she is
        unable to travel by his/her own means of transport or the means of
        transport hired for the trip.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Insured shall
        furnish the evidence, documents or certificates of the event, which
        caused the journey to be cut short (death certificate…etc).</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="8">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Relay of Urgent
            Messages.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in; page-break-inside: avoid; page-break-after: avoid">
        <br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Company will take
        charge of relaying the urgent messages of the insured parties,
        relating to any of the events covered in the policy.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="9">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Advance of bail
            bond.</b></span></font>
        </p>
    </ol>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The company will
        advance funds for any legal bond required on behalf of an Insured up
        to 10 000 USD(Ten thousand US$).</span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Insured will be
        required to repay any sum advanced in within 45 days. The assistance
        company will require valid credit authorization prior to any fund
        advance related to such fund advance.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="10">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Advance of money.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0.17in">
        <font face="Calibri, serif"><span lang="en-US">If, during a trip
        abroad, the Insured were deprived of cash due to loss of credit card,
        the Company will advance funds on behalf of an insured up to  1 000
        USD(one thousand US$).The assistance company will require valid
        credit authorization prior to any fund related to such fund advance.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="11">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Loss of passport,
            Driving License, National Identity Card abroad.</b></span></font>
        </p>
    </ol>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">In the case of loss of
        the Insured party’s passport, driving license, national identity
        card while abroad, The Company will take charge of the expenses of
        the displacements necessary for obtaining a new passport driving
        license, national identity card or equivalent consular document, up
        to 250 USD(two hundred fifty US$).</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="12">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Personal Accident 
            </b></span></font>
        </p>
    </ol>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Company will pay
        to the legal heirs  an amount of 9000 USD (nine thousand US$)being
        the capital sum insured, if the Insured Person shall sustain bodily
        injury by an accident result in death of the Insured Person within 90
        days from the date of accident that caused the injury.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="13">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Delivery of
            medicine</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; margin-bottom: 0in">
        <br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The Company will
        arrange to send medicines to the insured, which are prescribed, as
        urgent by a doctor and which are not available in the place to which
        the insured has traveled. The medicine should be paid by the insured
        except the costs of the medications are required as a part of the
        claim treatment</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="14">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Long distance
            medical information service</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; margin-bottom: 0in">
        <br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in; orphans: 0; widows: 0">
        <font face="Calibri, serif"><span lang="en-US">The medical
        information will be provided to the Insured by Company's doctor upon
        request from the insured. The service is not to be considered in any
        case as a diagnosis but it is a connection service.</span></font>
    </p>
    <p class="western" style="margin-bottom: 0in; orphans: 0; widows: 0"><br/>

    </p>
    <ol start="15">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>Medical referral /
            appointment of local medical specialist</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in; orphans: 0; widows: 0">
        <font face="Calibri, serif"><span lang="en-US">Through the assistance
        company call center, the insured will be given access and referred to
        any agreed medical center or medical practitioner of the Re Insurance
        international network.</span></font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in; orphans: 0; widows: 0">
        <font face="Calibri, serif"><span lang="en-US">Are excluded the
        services arranged by the Insured on his/her own behalf, without prior
        communication or without the consent </span></font>
        <font face="Calibri, serif"><span lang="en-US"><i>of
        </i></span></font>
        <font face="Calibri, serif"><span lang="en-US">MAPFRE
        ASISTENCIA or Nile Assist.</span></font>
    </p>
    <p class="western" style="margin-bottom: 0in; orphans: 0; widows: 0"><br/>

    </p>
    <ol start="16">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US"><b>CONNECTION
            SERVICE.</b></span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; margin-bottom: 0in">
        <br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in; orphans: 0; widows: 0">
        <font face="Calibri, serif"><span lang="en-US">Whilst travelling
        abroad, the insured person will be entitled to contact the
        reinsurance assistance company in order to obtain miscellaneous
        services in the country where he is located and in particular rental
        car referral and reservation and legal and administrative information
        and referral.</span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">Any miscellaneous
        service required by the insured not covered through this policy shall
        remain at his own charge.</span></font>
    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="center" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US"><u><b>LIABILITY
        CONDITIONS</b></u></span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">In the event of any
            claim, the liability of the Company shall be conditional on the
            insured claiming indemnity or benefit having complied with and
            continuing to comply with the terms of this Policy.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="2">

        <p lang="tr-TR" class="western" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">In
            the event of a claim under this Policy the Insured shall;</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Take all reasonable
            precautions to minimize the loss.</span></font>
        </p>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">As soon as possible
            telephone the Company to notify the claim stating the Benefits
            required.</span></font>
        </p>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Freely provide the
            Company with all relevant information.</span></font>
        </p>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Make no admission of
            liability or offer promise or payment of any kind.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="3">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">The Company is not
            liable in respect of any Benefit which would otherwise be payable
            under this Policy should there be another insurance in force
            covering the same benefits which predates this Policy, except for
            item 12 stated above. </span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="4">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Nile Assist will not
            reimburse or consider reimbursing any expenses which where not
            previously approved. Previously approved expenses will have to
            include the claim number obtained from Nile Assist prior to send the
            official receipts, and letter explaining the reason and
            circumstances of why the Travel Assistance Services for which
            expenses are claimed were not obtained from </span></font>
            <font color="#ff0000">
                <font face="Calibri, serif"><span lang="en-US"><u>Nile
            Assist</u></span></font>
            </font>
            <font face="Calibri, serif"><span lang="en-US">
            directly. </span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="center" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US"><u><b>INTERVENTION
        CONDITIONS</b></u></span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">When any of the
        events, which are the object of the mentioned guaranteed services,
        occur, the Insured party may request the corresponding information by
        telephone:</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">Mapfre
        Asistencia/Nile Assist</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">Telephone
        number (24/7)for assistance is:</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">InEurope:
        Mapfre Asistencia</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US"><a href="tel:(0044)(0)">Tel:(0044)(0)</a>
        845 136 84 27</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">Fax
        (0044)(0)845 136 84 28</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">Rest
        of the World: Nile Assist</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">Tel.
         :(00 202)330 83 888</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">Fax:
        (00 202) 330 83 880</span></font>

        </font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font color="#ff0000">
            <>
                <font face="Calibri, serif"><span lang="en-US">E-mail:nilesiam@mapfre.com</span></font>

        </font>
    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The
        insured person failed to contact immediately Mapfre Asistencia or
        Nile Assist will loose all his rights under this policy</span></font>
    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="center" style="margin-bottom: 0in">
        <a name="_Ref536590781"></a>
        <font face="Calibri, serif"><span lang="en-US"><u><b>GENERAL
        EXCLUSIONS</b></u></span></font>
    </p>
    <p lang="fr-FR" class="western" align="justify" style="margin-bottom: 0in; page-break-inside: avoid; page-break-after: avoid">
        <br/>

    </p>
    <ol>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">On a general basis
            for all the guarantees and coverage, the consequences of the
            following are excluded from the guarantee object of this Agreement:</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.39in; text-indent: -0.39in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those caused directly
            or indirectly or indirectly by the bad faith of the Insured, by
            his/her participation in criminal in criminal acts, or as a result
            of his/her fraudulent, seriously negligent or reckless actions.  The
            consequences of the actions of the Insured in a state of derangement
            or under psychiatric treatment are not covered either.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="2">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Extraordinary natural
            phenomena such as floods, earthquakes, landslides, volcanic
            eruptions, atypical cyclonic storms, falling objects from space and
            aerolites, and in general any extraordinary atmospheric,
            meteorological, seismic or geological phenomenon.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="3">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Events arising from
            terrorism, mutiny, or crowd disturbances.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="4">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Events or actions of
            the Armed Forces or Security Forces in peacetime.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="5">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Wars, with or without
            prior declaration, and any conflicts or international interventions
            using force or duress.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="6">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those derived from
            radioactive nuclear energy.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="7">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those caused when the
            Insured takes part in bets, challenges or brawls, save in the case
            of legitimate defense or necessity.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; text-indent: -0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="8">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Illness or injuries
            existing prior to the claim, unless expressly included in the
            Private or Special Conditions and subject to payment of the relevant
            surcharge premium.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; text-indent: -0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="9">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those that occur as a
            result of the participation by the Insured in competitions, sports,
            and preparatory or training tests. </span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; text-indent: -0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="10">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Engaging in the
            following sports: motor racing or motorcycle racing in any of its
            modes, big game hunting outside USD pean territory, underwater
            diving using artificial lung, navigation in international waters in
            craft not intended for the public transport of passengers, horse
            riding, climbing, pot holing, boxing, wrestling in any of its modes,
            martial arts, parachuting, hot air ballooning, free falling, gliding
            and, in general, any sport or recreational activity that is
            notoriously dangerous.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; text-indent: -0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="11">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Participation in
            competitions or tournaments organized by sporting federations or
            similar organizations.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="12">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Skiing and/or similar
            sports, winter and/or summer hazardous.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="13">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Permanent resident
            and students outside of Egypt.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="14">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">The extension of the
            policy is not valid unless it done by the client himself and while
            he is inside Egypt</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="15">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">The use, as a
            passenger or crew, of means of air navigation not authorized for the
            public transport of travelers, as well as helicopters.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="16">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">The accidents deemed
            legally to be work or labor accidents, consequence of a risk
            inherent to the work performed by the Insured.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol start="2">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">In addition to the
            previous exclusions, the following benefits are not covered by this
            insurance:</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">The services arranged
            by the Insured on his/her own behalf, without prior communication or
            without the consent of MAPFRE Asistencia or Nile Assist, except in
            the case of urgent necessity. In that event, the Insured must
            furnish the Company with the vouchers and original copies of the
            invoices &amp; other requested documents.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="2">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Illnesses or injuries
            arising from chronic ailments or from those that existed prior to
            the inception date of the policy.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="3">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Death as a result of
            suicide and the injuries or after-effects brought about by attempted
            suicide.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="4">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those derived from
            illnesses or pathological states caused by the voluntary consumption
            of alcohol, drugs, toxic substances, narcotics or medicines acquired
            without medical prescription, as well as any kind of mental illness
            or mental imbalance.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="5">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those derived from
            renunciation of or delay, on the part of the Insured or persons
            responsible for him/her, in the transfer proposed by the Company and
            agreed by its medical service.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="6">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Rehabilitation
            treatments.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="7">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Prostheses,
            orthopedic material or thesis and osteosynthesis material, as well
            as spectacles.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <ol type="a" start="8">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those derived from
            pregnancy and childbirth, or for a complication therefore or
            voluntary termination of pregnancy.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="9">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Those derived from
            baggage that is not sufficiently well packaged or identified, as
            well as fragile baggage or perishable products.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="10">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Assistance or
            compensation for events that occurred during a trip that had
            commenced, in any of the following circumstances:</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.5in; text-indent: -0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <ol>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Before this insurance
            comes into force.</span></font>
        </p>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">With the intention of
            receiving medical treatment.</span></font>
        </p>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">After the diagnosis
            of a terminal illness.</span></font>
        </p>

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Without prior medical
            authorization, after the Insured had been under treatment or medical
            supervision during the twelve months prior to the start of the trip.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.88in; margin-bottom: 0in">
        <br/>

    </p>
    <ol type="a" start="11">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">Expenses that arise
            once the Insured is at his/her usual country of residence, those
            incurred beyond the scope of application of the guarantees of the
            insurance, and, in any case, after the dates of the travel object of
            the Agreement have elapsed or after 90 days has elapsed since the
            start thereof, notwithstanding what is provided for in the
            Additional Clauses or in the Private or Special Conditions.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.57in; margin-bottom: 0in">
        <br/>

    </p>
    <ol start="3">

        <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
            <font face="Calibri, serif"><span lang="en-US">The Company is exempt
            of liability when, as a result of force major, it is unable to put
            into effect any of the benefits specifically envisaged in this
            policy.</span></font>
        </p>
    </ol>
    <p class="western" align="justify" style="margin-left: 0.25in; margin-bottom: 0in">
        <br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US"><b>SPECIALIZED
        COURTS</b></span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">Any dispute may rise
        in respect of execution, conflict or interpretation of this policy.
        Will refer to the Egyptian Jurisdiction and before the court in which
        the head quarter of the company is located. In case of discrepancies
        between the English and Arabic texts found in the company and
        accessible to the insured person at any time, the Arabic text will
        prevail.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US"><b>LIMITATION CLAUSE</b></span></font>
    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">Actions arising from
        the benefits to the insured person will lapse after 3 years from the
        claim occurrence date.</span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" align="justify" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US"><b>ARBITRATION CLAUSE</b></span></font>
    </p>
    <p class="western" align="justify" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">All
        matters of dispute arising between the parties of this policy in
        relation to the interpretation of its rules and execution of its
        clauses will be resolved by the provisions of law number (27) year
        1994 concerning the issuance of arbitration law for civil &amp;commercial
        articles.</span></font>
    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US"><b>CANCELLATION
        </b></span></font>
    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">The
        insured person may cancel this policy in case of his/her application
        to visa was rejected provided the insured person has notified the
        company with the rejection letter, before the effective date
        specified on the policy schedule and has received confirmation of
        cancellation from the company. In this case premium will be
        reimbursed, however 15% of such </span></font>
    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in">
        <font face="Calibri, serif"><span lang="en-US">Premium
        as administration fees shall be deducted. In all cases this policy
        cannot be cancelled after the inception date.   </span></font>
    </p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="tr-TR" class="western" style="margin-bottom: 0in"><br/>

    </p>
</div>