/*Wrapper Content*/

.wrapper-content {
    height: 600px;
}

.img-background {
    background-size: cover;
    width: auto;
    background-image: url('/assets/images/background-img.jpg');
    height: calc(100vh - 134px);}

.container-welcome {
    margin: auto 40px !important;
}

@media only screen and (max-width: 1000px) {
    .container-welcome {
        margin: auto 10px !important;
    }
}

.form-field:not(:last-child) {
    margin-right: 20px;
}

.form-field {
    width: 100%;
}

.form-age-traveler {
    margin: auto 40px;
    width: 162px;
}

.button-quote {
    background-color: #e77a11 !important;
    color: #fff !important;
    font-family: Tajawal, Roboto !important;
    font-size: 20px;
    height: 51px;
    line-height: 51px;
    top: -5px;
}

.here-button {
    background-color: #073e89;
    color: #fff;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;

}

mat-card-title {
    margin-bottom: 20px;
}

mat-radio-group {
    margin: 10px auto;
}

mat-radio-button {
    margin-right: 25px;
}

.get_qoute {
    margin: 50px auto;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #073e89 !important;
}

.clearfix {
    clear: both;
}


/* Section Phone Number Field */

.form-group {
    position: relative;
    width: 100%;
}

#selectOptions {
    position: absolute;
}

mat-label#phoneLabel {
    padding-left: 55px;
}

input#phoneInput {
    padding-left: 47px;
}

#selectOptions {
    position: absolute;
    top: 4px;
    left: 0;
    height: 67%;
    border: none;
    width: 50px;
    z-index: 999;
    background: transparent;
}


/* End Section Phone Number Field */