<div class="img-background">
    <main class="container-welcome" fxFlex fxLayout fxLayoutAlign="center center">
        <mat-card fxFlex="700px" fxFlex.xs="100%" class='overlay'>
            <mat-card-title fxLayoutAlign="center center">{{ 'personal.thankyou' | translate }}</mat-card-title>
            <mat-card-content>
                <div fxLayoutAlign="center center">
                    <mat-icon style="font-size:50px;color:rgb(36, 182, 99);" fxLayoutAlign="center center">done</mat-icon>
                </div>
                <div style="font-size:18px;" fxLayoutAlign="center center">
                    <p style="text-align:center;">{{ 'personal.title2' | translate }}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </main>
</div>